

h1 { color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0; }


h2 { color: #7c795d; font-family: 'Source Sans Pro', sans-serif; font-size: 28px; font-weight: 400; line-height: 32px; margin: 0 0 24px; }

h3 {font-size: 26px; font-weight: 300; color: #ffcc66; margin: 0 0 0px;}

.subheader { font-size: 26px; font-weight: 300; color: #ffcc66; margin: 0 0 0px; }


p { color: #7c795d; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 32px; margin: 0 0 0px; }

ul { color: #000000; font-family: 'Source Sans Pro', sans-serif}

a { color: #ff9900; background: #fff4a3; text-decoration: none; }


a:hover { color: #ffcc66 }


#col1
{
    float : left;
}

#col2
{
    float : left;
}

#col3
{
    clear : left;
    float : left;
}


  .photo
  {
    /*background-color: rgba(82, 135, 156, 0.445); */
    width: 128px ; 
	  height: 160px; 
    margin-left: 60px;
    margin-top : 30px;
    float: left;
    
  }

  .image 
  {
    width: 128px ; 
	height: 160px; 
  }

  .coordonnees
  {
    /*background-color: rgba(82, 135, 156, 0.445); */
    width: 219px; 
	height: 526px; 
    margin-top : 100px;
    margin-left: 20px;
    clear : left;
    float: left;
  }

  .phone
  {
      height : 60px;
      width : 70px;
  }

  .corps
  {
    /*background-color: rgba(82, 135, 156, 0.445);*/
    width: 550px; 
	height: 716px; 
    margin-left: 25px;
    margin-top : 30px;
    float: left;
  }

  .soft
  {
    /*background-color: rgba(82, 135, 156, 0.445); */
    width: 900px; 
	  height: 139px;
    margin-top: 20px;
    margin-left: 20px;
  }

  textarea
  {
    height: 150px;
    width : 350px;
  }

  .carre {
    /*width: 100px;
    height: 100px;*/
    /* margin-top: 60px; */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    color: red;
    position: relative;
    animation-name: example;
    animation-duration: 2s;  
    animation: myfirst 5s linear 1s infinite alternate;
    animation-fill-mode: forwards;
  }
  @keyframes myfirst {
    0%   {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:200px; top:0px;}
    100% {color:red; left:0px; top:0px;}
  }


